@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.fira-sans-regular {
  font-family: 'Fira Sans', serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 15px; */
}

nav button {
  color: #006a50;
  font-weight: 600;
  padding: 5px 10px;]
  border-radius: 10px;
  border: 2px solid #006A50;

}

.hero {
  height: 460px;
  display: flex;
  align-items: center;
  background-color: #c6e4d6;
  border-radius: 24px;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 30px;
  padding: 30px;
}

.hero h1 {
  font-weight: bold;
  font-size: 40px;
}

.hero-img {
  width: 460px;
}

.hero-btn{
  padding: 10px 15px;
  background-color: #006A50;
  border-radius: 5px;
  color: white;
  border: none;
}

.vision {

  height: 380px;
}

.vision-cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 25px;
}

.cards {
  padding: 35px 25px;
  border-radius: 10px;
}

.digital {
  background-color: #bfcee9;
}
.energy {
  background-color: #c6e4d6;
}
.modern {
  background-color: #f7ebcf;
}

.first-btn {
  background-color: #5490f5;
}
.sec-btn {
  background-color: #09a15c;
}
.third-btn {
  background-color: #ffc239;
}

/* //////////////////////////// */

/* Utilies */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 25px;
}

.btn {
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
  border: none;
}
